{% extends 'base.html.twig' %}

{% block title %}New Adresses{% endblock %}

{% block body %}
    {{ include("partial/title_section.html.twig", {'name':'Add Address'}) }}
    <div class="login_register_wrap section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-md-10">
                    <div class="login_wrap">
                        <div class="padding_eight_all bg-white">
                            <div class="heading_s1">
                                <h3>Add Address</h3>
                            </div>
                            <div class="message_flash">
                                {% for message in app.flashes('checkout_message') %}
                                <div class="alert alert-success alert-dismissible fade show " role="role">{{ message}}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span arial-hidden="true">&times; </span>
                                </button>
                                </div>
                               {% endfor %}
                            </div>
                            <div class="content">
                                {{ include('adresses/_form.html.twig') }}
                                <a class=" btn btn-border-fill btn-block mt-2 " href="{{ path('account') }}">back to acount</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
