<h1>Activation de votre compte</h1>

    <p>Vous avez créé un compte sur notre site, veuillez cliquer sur le lien ci-dessous pour l'activer <br><br>
    <a href="{{ signedUrl|raw }}">Confirm my Email</a>.
    This link will expire in {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Cheers!
</p>
